################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Team1_Projekt/FileContentIndex/378222d6-e233-4d4b-9f7f-db2f097aadc2.vsidx
/.vs/Team1_Projekt/FileContentIndex/571ae75f-091f-424e-99d0-a02d2ed52919.vsidx
/.vs/Team1_Projekt/FileContentIndex/94d85079-26da-4911-8f25-68d7616be33c.vsidx
/.vs/Team1_Projekt/FileContentIndex/9a41dd39-2153-498e-99b0-94df37c81af1.vsidx
/.vs/Team1_Projekt/FileContentIndex/a1d84fad-229f-4bb2-8e44-9ee67bb324f2.vsidx
/.vs/Team1_Projekt/FileContentIndex/bf81c76a-a497-4f18-83b5-736d2399b519.vsidx
/.vs/Team1_Projekt/FileContentIndex/ec1e480d-1a37-40ae-b42b-912926c28935.vsidx
/DogRallyApp/.vs/DogRallyApp/FileContentIndex/57a291eb-f1fb-4660-8bf9-5942f9ef9d61.vsidx
/DogRallyApp/.vs/DogRallyApp/FileContentIndex/678d1fbb-5ef5-49e8-8372-9ff00d4c72c9.vsidx
/DogRallyApp/.vs/DogRallyApp/FileContentIndex/7167a78e-cec0-4717-b149-21bbc4415726.vsidx
/DogRallyApp/.vs/DogRallyApp/FileContentIndex/e4701b59-84b7-47db-b834-18de284b751a.vsidx
/DogRallyApp/.vs/DogRallyApp/DesignTimeBuild/.dtbcache.v2
/DogRallyApp/.vs/DogRallyApp/v17/.futdcache.v2
/DogRallyApp/.vs/DogRallyApp/v17/.suo
/DogRallyApp/.vs/ProjectEvaluation/dograllyapp.metadata.v7.bin
/DogRallyApp/.vs/ProjectEvaluation/dograllyapp.projects.v7.bin
/DogRallyApp/DogRallyApp/bin/Debug/net8.0/DogRallyApp.dll
/DogRallyApp/DogRallyApp/bin/Debug/net8.0/DogRallyApp.exe
/DogRallyApp/DogRallyApp/bin/Debug/net8.0/DogRallyApp.pdb
/DogRallyApp/DogRallyApp/obj/Debug/net8.0/ref/DogRallyApp.dll
/DogRallyApp/DogRallyApp/obj/Debug/net8.0/refint/DogRallyApp.dll
/DogRallyApp/DogRallyApp/obj/Release/net8.0/DogRallyApp.AssemblyInfo.cs
/DogRallyApp/DogRallyApp/obj/Release/net8.0/DogRallyApp.AssemblyInfoInputs.cache
/DogRallyApp/DogRallyApp/obj/Debug/net8.0/apphost.exe
/DogRallyApp/DogRallyApp/obj/Debug/net8.0/DogRallyApp.AssemblyInfo.cs
/DogRallyApp/DogRallyApp/obj/Debug/net8.0/DogRallyApp.AssemblyInfoInputs.cache
/DogRallyApp/DogRallyApp/obj/Debug/net8.0/DogRallyApp.dll
/DogRallyApp/DogRallyApp/obj/Debug/net8.0/DogRallyApp.pdb
/DogRallyApp/DogRallyApp/obj/Debug/net8.0/DogRallyApp.sourcelink.json
/DogRallyApp/DogRallyApp/obj/Debug/net8.0/project.razor.vscode.bin
/.vs/slnx.sqlite
/.vs/Team1_Projekt/v17/.wsuo
/.vs/VSWorkspaceState.json
/DogRallyApp/DogRallyApp/obj/Release/net8.0/DogRallyApp.AssemblyInfo.cs
/DogRallyApp/.vs/DogRallyApp/FileContentIndex/004ab4bf-25a5-4eff-bfa8-ba8692e3ae08.vsidx
/DogRallyApp/.vs/DogRallyApp/FileContentIndex/2b954d61-f855-42d2-bcbd-e7d80974aa03.vsidx
/DogRallyApp/.vs/DogRallyApp/FileContentIndex/4a42845a-6a39-45f7-a43d-83b6a35fa9c7.vsidx
